*-gitworker-copy
.DS_Store
/dev/
*dev.jl

*.jl.*.cov
*.jl.cov
*.jl.mem
.DS_Store
/dev/
.vscode
/cluster

!data/
data/*
!data/raw/
*.jls

*.py
*.ipynb
*.ipynb_checkpoints
/test/cache
data/raw/Human1_Publication_Data_Scripts
data/raw/Human1_Publication_Data_Scripts.zip
*log.txt
