*-gitworker-copy
.DS_Store
/dev/

*.jl.*.cov
*.jl.cov
*.jl.mem
.DS_Store
/dev/
.vscode

!data/
data/*
!data/raw/

*.py
*.ipynb
*.ipynb_checkpoints
/test/cache
data/raw/Human1_Publication_Data_Scripts
