/plots
/cluster
DEPRECATED
*DEPRECATED

*-gitworker-copy
.DS_Store
/dev/
dev
/data/raw
/data/raw*
*dev.jl

*.jl.*.cov
*.jl.cov
*.jl.mem
.DS_Store
/dev/
.vscode
/cluster

!data/
data/*
*.jls

*.py
*.ipynb
*.ipynb_checkpoints
/test/cache
data/raw/Human1_Publication_Data_Scripts
data/raw/Human1_Publication_Data_Scripts.zip
*log.txt
